body {
    font-family: 'Open Sans', sans-serif;
}

#viewport {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.mainframe {
    background: white;
    height: 200px;
    width: 60%;
    padding: 20px;
}

.leftPanel {
    background: black;
    color: white;
    width: 50%;
    padding: 20px;
}
