table {
    background-color:black;
}


tr {

    width: 60px;
    height: 25px;
    background-color: gray;
    padding: 20px;

}

select {
    height:30px;
    line-height: 30px;
    margin: 8px;
    width: 70%;
}


.lists {

    background-color: #f3f3f3;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding:10px;

}

.lists th {

    background-color: #f3f3f3;

}

.orders-view {

    width: 100%;
    padding:10px;
    text-align: center;

}

.orders-view th {

    background-color: #f3f3f3;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;

}

.orders-view td {

    background-color: lightgray;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;


}