.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

th, td {

    padding: 10px;
    background-color: #fefefe;

}

select {
    height:30px;
    line-height: 30px;
    margin: 8px;
    width: 70%;
}