select {
    height:30px;
    line-height: 30px;
    margin: 8px;
    width: 70%;
}

.register-form {
    width:400px;
    padding-top: 30px;
    margin-top: 10px;
}

.register-form input {
    width:90%;
    padding:0px 5%;
    border:none;
    background-color: #fff;
    line-height:40px;
    font-size: 16px;
    margin-bottom: 4px;
}

.register-form button {
    margin:0 auto;
    display: block;
    width:30%;
    height:40px;
    border:none;
    background-color: #222;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.lists {

    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding:10px;

}

.lists th {

    /*background-color: #f3f3f3;*/

}

.products-view {

    /*width: 100%;*/
    padding:10px;
    text-align: center;

}

.products-view th {

    background-color: lightgray;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;

}

.products-view td {

    background-color: #f3f3f3;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;


}

.orders-view {

    width: 100%;
    padding:10px;
    text-align: center;

}

.orders-view th {

    background-color: lightgray;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;

}

.orders-view td {

    background-color: #f3f3f3;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;


}