* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height:100%;
    overflow: hidden;
}

#viewport {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.mainframe {
    background: white;
    width: 30%;
    padding: 20px;
    flex-direction: row;
    display: flex;

    justify-content: center;
}

.leftPanel {

    background: #212121;
    color: white;
    width: 50%;
    padding: 20px;
}

ul {
    list-style-type:none
}

input {
    height: 50px;
    width:350px;
    background-color: lightgray;
    text-decoration-color: black;
}
 img {
     max-width: 100px;
     max-height:100px;

 }