@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);




html { background:#333333;   background: url('media/blurred.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; margin:0; padding:0;
    font-family: 'Open Sans', sans-serif;}
body {  margin:0; padding:0; }

#containerBackground { background:white; width:100%; z-index:-1;  box-shadow: 0px 5px 15px -8px black; }
#container { width:100%; margin:0 auto 0;  }

#titel { font-size:32px; font-weight:300; font-family: 'Open Sans', sans-serif; line-height:70px; padding-left:28px;  margin-left:35px; color:#0099d9; }
#logo1 { width:7px; height:18px; background:#0099d9; position:absolute; bottom:19px; margin-left:20px; z-index:1100; }
#logo2 { width:7px; height:25px; background:#0099d9; position:absolute; bottom:19px; margin-left:31px; z-index:1100; }
#logo3 { width:7px;  height:32px; background:#0099d9; position:absolute; bottom:19px; margin-left:42px; z-index:1100; }
#titel:hover, #logo1:hover, #logo2:hover, #logo3:hover { cursor:pointer; }

header { width:400px; height:140px; background:white; position:absolute; margin:auto 0 auto; margin-top:100px;  box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.5);  z-index:900;  }
#headerBackground { position:fixed; width:100%; background-color:white; height:70px;  /*box-shadow: 0px 5px 15px -10px black;*/ opacity:100; z-index:20; top:0; left:0; }



#info { position:fixed; bottom:0px; width:100%; margin:0; left:0; background:#222; height:60px; box-shadow: 0px 5px 15px -10px black; font-family: 'Open Sans', sans-serif;  }
#phone { position:absolute; bottom:5px; left:30px;  text-decoration:none; font-size:19px; font-weight:300; color:white;padding:13px 15px; /*box-shadow: 0px 5px 15px -8px black;*/  background-image: url("https://compleet.it/v3/img/icons/phone.png"); background-repeat: no-repeat; background-position: left center; color:white; padding-left:40px;}
#email { position:absolute; bottom:5px; left:280px;  text-decoration:none; font-size:19px; font-weight:300; color:white;padding:13px 15px; /*box-shadow: 0px 5px 15px -8px black;*/  background-image: url("https://compleet.it/v3/img/icons/mail.png"); background-repeat: no-repeat; background-position: left center; color:white; padding-left:40px;}
#adres { position:absolute; bottom:5px; right:30px; width:auto; text-decoration:none; font-size:19px; font-weight:300; color:white;padding:13px 15px; /*box-shadow: 0px 5px 15px -8px black;*/  background-image: url("https://compleet.it/v3/img/icons/location.png"); background-repeat: no-repeat; background-position: left center; color:white; padding-left:40px;}



@media all and (max-width: 850px)  {
    #support { width:100%; padding-left:0; padding-right:0; left:0; right:0; text-align:center; top:40%; margin:auto; transform: translate(0); -webkit-transform: translate(0); -ms-transform: translate(0); transform: translate(0); top:70px; position:fixed; box-shadow:none; }
    #info { height:176px; }
    #phone { bottom:120px;  }
    #email { bottom:63px; left:30px;}
    #adres { left:30px; }


}

